.App{
    margin: auto;
    width: 100%;
    
    text-align: center;
}
.Post{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}
.P{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    border-radius: 20px;
    padding: 10px;
}
#pagination{
    display: flex;
    justify-content: center;
    gap : 30px;
}